<div class="footer">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="container">
        <div fxLayoutWrap>
          <div fxFlex.lt-md="calc(100%)">
            <span class="lead">物流トータルサービス</span>
            <h2>赤帽依田運送</h2>
            <span class="postal-code">〒409-3853</span>
            <span class="address">山梨県昭和町築地新居819-3</span>
            <span class="name">代表 依田保仁</span>
          </div>
          <div fxFlex.lt-md="calc(100%)">
            <div class="contact">
              <span class="lead">お問い合わせは</span>
              <span class="phone"><mat-icon>phone</mat-icon>090-8680-6788</span>
              <span class="office">事務所 055-275-1006</span>
              <span class="fax">FAX 055-275-1006</span>
            </div>
          </div>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
