<div class="page top">

  <h2>軽貨物のプロ集団 赤帽にお任せください</h2>
  <div class="domain-chips">
    <mat-chip-list class="mat-chip-list">
      <mat-chip selected="true" color="primary">緊急便</mat-chip>
      <mat-chip selected="true" color="primary">チャーター便</mat-chip>
      <mat-chip selected="true" color="primary">定期便</mat-chip>
      <mat-chip selected="true" color="primary">クール便</mat-chip>
      <mat-chip selected="true" color="primary">単身引越し</mat-chip>
      <mat-chip selected="true" color="primary">学生引越し</mat-chip>
      <mat-chip selected="true" color="primary">ファミリー引越し</mat-chip>
      <mat-chip selected="true" color="primary">家具・家電配送</mat-chip>
    </mat-chip-list>
  </div>

  <div class="domain-cards" fxLayoutWrap fxLayoutGap="15px">
    <div fxFlex="calc(50% - 15px)" fxFlex.lt-md="calc(100%)">
      <mat-card class="example-card">
        <div fxLayoutWrap>
          <div class="corporate-image" fxFlex="33" fxFlex.lt-md="calc(100%)">
            <img src="../../assets/topic02.jpg">
          </div>
          <div fxFlex="67" fxFlex.lt-md="calc(100%)">
            <mat-card-header>
              <mat-card-title><h3>企業チャーター</h3></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                物流全般のトータルサービスを提供します。<br>
                緊急配送等、24時間体制で対応させて頂きます。<br>
                通常の赤帽車以外にも4t車、大型車をチャーターしての輸送が可能です。
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/corporate">
                <button mat-button color="accent">詳細</button>
              </a>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxFlex="calc(50% - 15px)" fxFlex.lt-md="calc(100%)">
      <mat-card class="example-card">
        <div fxLayoutWrap>
          <div class="individuals-image" fxFlex="33" fxFlex.lt-md="calc(100%)">
            <img src="../../assets/topic01.jpg">
          </div>
          <div fxFlex="67" fxFlex.lt-md="calc(100%)">
            <mat-card-header>
              <mat-card-title><h3>引越し</h3></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                自家用車では運ぶのにちょっと大変。でも引越しセンターに頼むと費用が…。<br>
                そんな時は赤帽へ。家具・家電1品から配送できます。
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/individuals">
                <button mat-button color="accent">詳細</button>
              </a>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>
    </div>
  </div>


  <div class="description-icons" fxLayoutWrap fxLayoutGap="15px">
    <div class="description" fxFlex="calc(33% - 15px)" fxFlex.lt-md="calc(100%)">
      <div class="heading">
        <mat-icon color="primary" aria-hidden="false">person</mat-icon>
        <h3>赤帽とは</h3>
      </div>
      <span>
        全国に44箇所の協同組合が存在し、本部・支部営業所等の拠点があります。<br>
        赤帽は個人事業主の集まりで作る協同組合です。
      </span>
    </div>
    <div class="description" fxFlex="calc(33% - 15px)" fxFlex.lt-md="calc(100%)">
      <div class="heading">
        <mat-icon color="primary" aria-hidden="false">local_shipping</mat-icon>
        <h3>赤帽の業務内容</h3>
      </div>
      <span>
        物流全般のトータルサービス<br>
        単身者・ご家族のお引越し<br>
        オフィスの移動<br>
        高齢者の方のホーム入所・退所時の移動<br>
        イベント会場での搬入・搬出作業
      </span>
    </div>
    <div class="description" fxFlex="calc(33% - 15px)" fxFlex.lt-md="calc(100%)">
      <div class="heading">
        <mat-icon color="primary" aria-hidden="false">done</mat-icon>
        <h3>選ばれる理由</h3>
      </div>
      <span>
        わかりやすい料金設定と低価格<br>
      電話一本で即時対応可能<br>
      24時間365日対応できる便利さ
      </span>
    </div>
  </div>


</div>
